<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<!-- Inculding Head -->
<title> Vaibhav Upreti - {{ page.title | default: site.title }} </title>
{%- include head.html -%}
  <body>

<!-- Inculding Header -->
    {%- include header.html -%}

<!-- Inculding Content -->
    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        {{ content }}
      </div>
    </main>

<!-- Inculding Footer -->
    {%- include footer.html -%}
  </body>
</html>
